<h1> <%= @anime.name %></h1><br />


<%= @anime.genre %>, <%= @anime.seasons%> seasons<br />
<br />
<body><%= @anime.description %></body>

<br />

<%= button_to "Delete Anime", anime_path(@anime), method: :delete %>




