<% if user_signed_in? %>
<h1> Welcome back <% current_user.email %>! </h1>


<h2><%= link_to('Logout', destroy_user_session_path, method: :delete)%></h2>
<h3><%= link_to('Check out these great shows!',animes_path)%><br />
<h4><%= link_to('See reviews', reviews_path)%> or <%= link_to('create a new review', new_review_path)%></h4>

<%else%>

<div classname="home" style="
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: black;
    /* width: 300px; */
    border: 5px solid;
    border-radius: 75px;
    padding: 50px;
    margin: 20px;
">

<h1 classname="header"> Welcome to All Anime! </h1>

<h2><%= link_to('If you have an account, sign in here',new_user_session_path) %><br />
<br /><%= link_to('If your new, create an account here',new_user_registration_path) %>
<% end %>
</div>

<%# <%= form_tag('/animes', method: :get) do %>
<%# <%= text_field_tag :search, params[:search] %>
<%# <%= submit_tag('Search', :name => nil) %> 

<%# <%end%> 