<html style=" 
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">         

<% if user_signed_in? %>
<h1> Welcome back <% current_user.email %>! </h1>


<h2><%= link_to('Logout', destroy_user_session_path, method: :delete)%></h2>
<p><%= link_to('Check out these great shows!',animes_path)%><br />
<p><%= link_to('See reviews', reviews_path)%> or <%= link_to('create a new review', new_review_path)%>

<%else%>

<h1 class="header">All Anime </h1>
<div class="body">
  <h2>All Anime is where you can find and review all your favorite series! 
  This inclusive community welcomes all types and opinions regarding different animes/mangas. 
  Animes are added weekly, so stay updated with our weekly newsletter!
  <img src="./img/skrabkgrd.png" alt="">
  <h3><%= link_to('If you have an account, sign in here',new_user_session_path) %><br />
  <br /><%= link_to('If your new, create an account here',new_user_registration_path) %>
  <% end %>
</div>

<%# <%= form_tag('/animes', method: :get) do %>
<%# <%= text_field_tag :search, params[:search] %>
<%# <%= submit_tag('Search', :name => nil) %> 

<%# <%end%> 