    <% if @review.errors.any? %>    
    <h5><%= @review.errors.full_messages.to_sentence  %></h5>
    <% end %>
<%= form_for @review do |f| %>
    <%= f.label "Title:" %>
    <%= f.text_field :title %><br />
 
  
     <%= f.label "Content:" %>
    <%= f.text_area :content %> <br />
    <%= f.label "Rating" %>
    <%= f.text_field :rating%><br />
     <%= f.collection_select :anime_id, Anime.all, :id, :name, {:multiple => false}%>
    <%= f.submit %>
     <% end %>
 
     <br />
    
