<%= form_tag reviews_path, method:  :get do  %>
<br /><%= text_field_tag :search, params[:search] %>
<%= submit_tag('Search', :name => nil) %>

<%end%>



<br /><% @reviews.each do |r| %>
    <h2> <%= r.anime.name %></h2>
    <h2> <%= r.title %> - <%= r.rating %> </h2>
    <p> <%= r.content %> </p><br />
<% end %>