<h1><%= @review.title%></h1>
<br />
<body><%= @review.content%></body>

<br />
<%= button_to "Edit review", edit_review_path, method: :get%>
<br />
<%= button_to "Delete Review", review_path(@review), method: :delete %> 

<br /><tr>Click here go back to see all the shows <%= link_to "Anime home", animes_path(@anime)%></tr>

<br /><%= link_to "Home page", root_path%>